.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
}

.rodape h2 {
    font-weight: 400;
    font-size: 18px;
    color: var(--branco);
}

@media screen and (max-width: 800px) {
    .rodape h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .rodape h2 {
        font-size: 1.2em;
    }
}